body {
    display: grid;
    grid-template-rows: min-content auto auto;
    background-color: lightgrey;
    width: 80vw;
    margin: 0 auto;
    font-family: "Fira Sans", sans-serif;
    font-size: 14pt;
}