
<form action="">
  <input type="text" name="Company Name" id="companyName" placeholder="Company Name">
  <input type="text" name="Address" id="address" placeholder="Address">
  <input type="text" name="City" id="city" placeholder="City">
  <input type="text" name="State" id="state" placeholder="State">
  <input type="text" name="Zip" id="zip" placeholder="Zip Code">
  <input type="tel" name="Phone" id="phone" placeholder="Phone Number">
  <input type="tel" name="Fax" id="fax" placeholder="Fax">
  <input list="categories" name="Category" id="categories_text" placeholder="Category">
    <datalist id="categories">
      <!-- prompt user to create a new category if one doesn't already exist -->
    </datalist>
</form>

<app-menu></app-menu>