<form action="">
  <input type="text" name="Company Name" id="companyName" placeholder="Company Name">
  <input type="text" name="Address" id="address" placeholder="Address">
  <input type="text" name="City" id="city" placeholder="City">
  <input type="text" name="State" id="state" placeholder="State">
  <input type="text" name="Zip" id="zip" placeholder="Zip Code">
  <input type="tel" name="Phone" id="phone" placeholder="Phone Number">
  <input type="tel" name="Fax" id="fax" placeholder="Fax">
</form>